@use "../utils/varibales" as *  ;
@use "../utils/breakpoints" as *;

body{
  
    min-height:100vh;
    display: grid;
    align-items: center;
    background-color: $very-dark-blue;

    

}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        color:$desaturated-blue;
        @include mobile{
            font-size:14px;
        }
        
        span{
            text-decoration: underline;
            cursor: pointer;
        }
        span:hover{
            color:$pale-blue;
            text-decoration: none;
        }
    }
    

    
}